In [1]:
print("Hello world")

Hello world

#Heading

In [5]:
x = 4
print(type(x))

<class 'int'>

In [7]:
import keyword

In [8]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [9]:
  var=5

In [14]:
a = int(input("Enter a value "))

Enter a value 5

In [15]:
type(a)

int

In [7]:
s = int(input("Enter the side of the square "))
area = s*s
print(area)

Enter the side of the square 4
16

In [10]:
h = int(input("Enter the height of the traingle "))
b = int(input("Enter the base of the traingle "))
area = (b*h)/1/2
print(area)

Enter the height of the traingle 10
Enter the base of the traingle 5
25.0

In [14]:
p = int(input("Enter the Principal "))
r = int(input("Enter the rate of interest "))
t = int(input("Enter the time "))
si = (p*r*t)/100
print(si)

Enter the Principal 4000
Enter the rate of interest 5
Enter the time 3
600.0

In [19]:
p = int(input("Enter the Principal "))
r = int(input("Enter the rate of interest "))
n = int(input("Enter the time "))
ci = p(1 + (r/100))^n
print(ci)

Enter the Principal 4000
Enter the rate of interest 5
Enter the time 3

TypeError: 'int' object is not callable

In [21]:
p = float(input("Enter the purchase price "))
s = float(input("Enter the selling price "))
profit = s - p
print("You have made profit of ", profit)

Enter the purchase price 50
Enter the selling price 60
You have made profit of  10.0

In [22]:
p = float(input("Enter the purchase price "))
s = float(input("Enter the selling price "))
loss = p - s
print("You have made loss of ", loss)

Enter the purchase price 20
Enter the selling price 15
You have made loss of  5.0

In [ ]:
p = float(input("Enter the purchase price "))
s = float(input("Enter the selling price "))
if s>p:
    pf = s-p
    p_p = pf/p*100
    print("You have made profit of ", pf)
    print("You have made profit % of ", p_p)
elif p == s:
    print("No profit No loss ")
else:
    p>s
    l = p-s
    l_p = l/p*100
    print("You have made loss of ", l)
    print("You have made loss % of ", l_p)

In [23]:
n = int(input("Enter the number"))
if n%2==0:
    print("number is even")
else:
    print("Number is odd")

Enter the number11
Number is odd

In [25]:
n  = int(input("Enter the number"))
if n>0:
    print("Number is positive")
else:
    print("number is negative")

Enter the number-2
number is negative

In [40]:
salary = int(input("Enter your salary "))
if salary>500000>100000:
    incometax = salary*0.10
    print("You have to pay income tax of rupees", incometax)
    if salary>100000>1500000:
        incometax = salary*0.15
        print("You have to pay income tax of rupees", incometax)
        if salary>1500000:
            incometax = salary*0.20
            print("You have to pay income tax of rupees", incometax)
else:
    print("Youuu are out of the income tax slab")

Enter your salary 25000000
You have to pay income tax of rupees 2500000.0

Budget = int(input("Enter your budget "))
if Budget>500:
    dest = Budget ('Place Goa')
    print("Your destination will be ", dest)
else:
    print("You are out of budget ")

In [79]:
n = int(input("Enter the number "))
if n<0:
    modulus = n*(-1)
    print("Modulus of number is ", modulus)
else:
    print("modulus of number is", modulus)

Enter the number 5
modulus of number is 5

In [85]:
n1 = int(input("Enter the first number "))
n2 = int(input("Enter the second number "))
if n1>n2:
    print("Number is greatest", n1)
    print("Number is smallest", n2)
elif n1 == n2:
    print("Both number are equals")
else:
    print("Number is greatest", n2)
    print("Number is smallest", n1)

Enter the first number 6
Enter the second number 5
Number is greatest 6
Number is smallest 5

In [88]:
n1 = int(input("Enter the first number "))
n2 = int(input("Enter the second number "))
n3 = int(input("Enter the third number "))
if n1>n2:
    if n1>n3:
    print("Number is greatest", n1)
    else:
    print("Number is smallest", n)
    if n1>n2 and n1<n3:
        print("Number is greatest", n3)
        print("Number is smallest", n2)
        
elif n1 == n2 == n3:
    print("Both number are equals")
else:
    n1<n2 and n2<n3
    print("Number is greatest", n3)
    print("Number is smallest", n1)

Enter the first number 5
Enter the second number 4
Enter the third number 3
Number is greatest 3
Number is smallest 5

a = int(input("Enter your age "))
ans = input("Do you have license (Yes/No)")
if a<18:
    if ans == 'Yes':
        print("You are eligible for driving")
    else:
        print("You are not eligible for driving")
else:
    a<18
    print("You can only drive when you get the license")

# Loops

## SYNTAX FOR
for i in range ():

In [111]:
n = 10
for i in range (1,n+1):
    if i % 2==0:
        print("Even",i)
    else:
        print("Odd",i)

Odd 1
Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10

In [114]:
n = 10
s = 0
for i in range(1, n+1):
    s+=i
print("Sum of n Natural numbers", s)

Sum of n Natural numbers 55

In [116]:
n = 5
s = 1
for i in range(1, n+1):
    s*=i
print("Factorial of 5 is ", s)

Factorial of 5 is  120

In [122]:
n = int(input("Enter the number table "))
f = 10
s = 0
for i in range(1, f+1):
    s = n * i
    print(n, "x",i,"=", s)

Enter the number table 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Nested for loop

In [123]:
for i in range(3):
    for j in range(3):
        print("*",end=" ")
    print()

* * *
* * *
* * *

In [125]:
for i in range(4):
    for j in range(4):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [132]:
for i in range(1):
    for j in range(1):
        print("*",end=" ")
    print()
    for k in range(2):
        print("*",end=" ")
    print()
    for l in range(3):
        print("*",end=" ")
    print()
    for m in range(4):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [133]:
for i in range(1):
    for j in range(4):
        print("*",end=" ")
    print()
    for k in range(3):
        print("*",end=" ")
    print()
    for l in range(2):
        print("*",end=" ")
    print()
    for m in range(1):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [134]:
for i in range(1):
    for j in range(1):
        print("*",end=" ")
    print()
    for k in range(3):
        print("*",end=" ")
    print()
    for l in range(5):
        print("*",end=" ")
    print()
    for m in range(7):
        print("*",end=" ")
    print()

*
* * *
* * * * *
* * * * * * *

In [139]:
n = int(input("enter the rows "))

for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print(" ")

enter the rows 5
*
* *
* * *
* * * *
* * * * *

In [140]:
n = int(input("enter the rows "))

for i in range(n,0,-1):
    for j in range(i):
        print("*",end=" ")
    print(" ")

enter the rows 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
## While loop

Syntax
vat initilization
while(condition):
    statement
    decrement/increment

In [143]:
a = 1
while a<=10:
    print(a)
    a+=1
print("Rest of the code")

1
2
3
4
5
6
7
8
9
10
Rest of the code

In [1]:
n = int(input("enter the rows "))

for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print(" ")

enter the rows 4
*
* *
* * *
* * * *

In [4]:
n = int(input("enter the rows "))

for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print(" ")

enter the rows 4
*
* *
* * *
* * * *

In [6]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)

In [11]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-30 12:32:27

In [19]:
r = float(input("Enter the radius of the circle "))
Area = 3.14*r*r
print("The area of circle is ", Area)

Enter the radius of the circle 1.1
The area of circle is  3.7994000000000008

In [21]:
f = input("Enter the first name ")
l = input("Enter the last name ")
reverse = l + ' ' + f
print("After reversing the name is ",reverse)

Enter the first name Akash
Enter the last name Alkhania
After reversing the name is  Alkhania Akash

In [51]:
filename = input("Enter the file name ")
extension = filename.split(".")
print("Extension of the file name is" + repr(extension[-1]))

Enter the file name akash.java
Extension of the file name is'akash'

In [64]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0])
print(color_list[-1])

Red
Black

In [72]:
exam_st_date = (11,12,2014)
new = "%i / %i / %i"%exam_st_date
print( "The examination will start from", new)

The examination will start from 11 / 12 / 2014

In [81]:
n = int(input("Enter the number "))
new = n*1 + n*11 + n*111
print(new)

Enter the number 6
738

In [87]:
import calendar
y = int(input("Enter the year"))
m = int(input("Enter the month"))
print(calendar.month(y, m))

Enter the year2021
Enter the month10
    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [89]:
date1 = [2014,7,2]
date2 = [2014,7,11]
days = date2[-1] - date1[-1]
print(days)

9

In [91]:
r = int(input("Enter the radius of the sphere "))
area = (4/3)*3.14*r*r*r
print("Area of a sphere is", area)

Enter the radius of the sphere 6
Area of a sphere is 904.3199999999998

In [94]:
n = int(input("Enter the number "))
if n>17:
    new = (n-17)*2
    print(new)
else:
    new = (n-17)*-1
    print(new)

Enter the number 22
10

In [126]:
a = int(input("Enter the number "))
b = int(input("Enter the number "))
c = int(input("Enter the number "))
if (a==b==c):
    new = (a+b+c)*3
    print(new)
else:
    new = a+b+c
    print(new)

Enter the number 3
Enter the number 3
 Enter the number 3
27

In [129]:
name = input("enter the string ")
new = name*3
print(new)

enter the string .py
.py.py.py

In [130]:
n = int(input("Enter the number "))
if n%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter the number 5
Number is odd

In [20]:
mu_tuple = [1,4,6,7,4]
print(mu_tuple.count(4))

0

In [149]:
mu_tuple = ('abcdef')
print(mu_tuple[:2]*2)

abab

In [19]:
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels
print(is_vowel('c'))
print(is_vowel('e'))

False
True

In [29]:
color_list_1 = set(["Black", "White", "Red"])
color_list_2 = set(["Red", "Green"])
Output = color_list_1-color_list_2
print(Output)

{'White', 'Black'}

In [31]:
b = int(input("enter the base of the traingle "))
h = int(input("enter the height of the traingle "))
area = (1/2)*b*h
print("Area of the traingle", area)

enter the base of the traingle 2
 enter the height of the traingle 4
Area of the traingle 4.0

def gcd(x, y):
   gcd = 1   
   if x % y == 0:
       return y   
   for k in range(int(y / 2), 0, -1):
       if x % k == 0 and y % k == 0:
           gcd = k
           break 
   return gcd
print("GCD of 12 & 17 =",gcd(12, 17))
print("GCD of 4 & 6 =",gcd(4, 6))
print("GCD of 336 & 360 =",gcd(336, 360))

In [49]:
a1 = int(input("Enter the first number "))
a2 = int(input("Enter the second number "))
a3 = int(input("Enter the third number "))
if a1 == a2 or a1 == a3 or a2 == a3:
    ans = 0
    print("answer is", ans)
else:
    ans = a1+a2+a3
    print("answer is", ans)

Enter the first number 1
Enter the second number 2
Enter the third number 3
answer is 6

In [73]:
a1 = int(input("Enter the first number "))
a2 = int(input("Enter the second number "))
ans = a1+a2
if 15<ans<20:
    print ("answer is", 20)
else:
    print ("answer is", ans)

Enter the first number 20
Enter the second number 50
answer is 70

In [127]:
n1= int(input("Enter the first number "))
n2= int(input("Enter the second number "))
if n1!=n2:
    ans1 = n1 - n2
    if ans1 == 5:
        print("True")
    else:
        print("False")
    ans2 = n1+n2
    if ans2 == 5:
        print("True")
    else:
        print("False")
else:
    n1 == n2
    print("True")

IndentationError: unexpected indent (<ipython-input-127-ddc8f8d2b441>, line 10)

In [98]:
n1= int(input("Enter the first number "))
n2= int(input("Enter the second number "))
ans = n1 == n2
if ans != 5:
    print("True")
else:
    print("False")

Enter the first number 2
Enter the second number 2
True